.container{
    height: 800px;
    width: 800px;
    background-color: rgb(233, 199, 199);
    padding-top: 50px;
    display: flex;
    
}
.box{
    height: 300px;
    width: 300px;
    display: flex;
    background-color: aqua;
    transition-property:background-color;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}
.box:hover{
    background-color: black;
}