.first{
    display: inline-block;
    background-color: blue;
    width: 55px;
    height: 100vh;
     z-index:1;
    position: absolute;
    margin-left: 30vw;
}
.second{
    position:absolute;
    display: inline-block;
    background-color: blue;
    width: 100vw;
    height: 55px;
  margin-top: 50vh;

}